<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> <!-- typeAliases 등록, parameterType, resultType에 등록한 pacakge는 생략가능 -->
	<typeAliases>
		<package name="(패키지 이름)"></package>
	</typeAliases>
</configuration>

